@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Hind+Vadodara:wght@300;400;500;600;700&family=Sigmar&display=swap");

.aclonica-regular {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: aclonica;
  text-align: center;
  font-size: 3.5vw;
  color: rgb(230, 110, 110);
}

h2 {
  font-family: aclonica;
  text-align: center;
  font-size: 3vw;
  color: rgb(43, 183, 12);
}

@media (width>=1400px) {
  body {
    max-width: 1512px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
